= simple_form_for(artwork) do |f|
  - if artwork.errors.any?
    #error_explanation
      %h2
        = pluralize(artwork.errors.count, "error")
        prohibited this artwork from being saved:
      %ul
        - artwork.errors.full_messages.each do |message|
          %li= message
  = f.input :style, as: :file
  .actions
    = f.submit, class: 'btn btn-primary'
