<p id="notice"><%= notice %></p>

<p>
  <strong>Style:</strong>
  <%= @artwork.style_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @artwork.image_id %>
</p>

<p>
  <strong>Model:</strong>
  <%= @artwork.model %>
</p>

<p>
  <strong>Size:</strong>
  <%= @artwork.size %>
</p>

<p>
  <strong>Smoothness:</strong>
  <%= @artwork.smoothness %>
</p>

<p>
  <strong>Num iters:</strong>
  <%= @artwork.num_iters %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
